<h1>new student</h1>

<!-- app/views/students/new.html.erb -->

<%= form_with model: @student do |form| %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Student', class: 'btn btn-primary' %>
  </div>
<% end %>
